---
import TestAlias from '@/components/TestAlias.astro';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Test Aliases</title>
</head>
<body>
    <h1>Testing @ Aliases</h1>
    
    <TestAlias />
    
    <div>
        <a href="/login">Go to Login</a>
    </div>
</body>
</html>
