---
import Layout from '@/layouts/Layout.astro';
import TestAlias from '@/components/TestAlias.astro';
---

<Layout title="Test Aliases">
    <h1>Testing @ Aliases</h1>
    
    <TestAlias />
    
    <div>
        <a href="/login">Go to Login</a>
    </div>
</Layout>
