---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Test Aliases">
    <h1>Testing @ Aliases</h1>
    
    
    <div>
        <a href="/auth/login">Go to Login</a>
    </div>
</Layout>