---
// Test different types of imports using @ alias
import { server } from '@/actions';
---

<div>
    <h2>Alias Test Component</h2>
    <p>If you see this, imports using @ alias work correctly!</p>
</div> 